# Virtual environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Datasets
data/raw/
data/processed/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db